   
   <div class="contenidoMike">
   <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
            <h2>F.A.Q.</h2>
            <h1>Preguntas y respuestas frecuentes</h1>
            <p>Aqui encontraras todas las preguntas y respuestas mas frecuentes relacionadas a nuestro servicio.<br>Sientete libre de preguntar, te atenderemos gustosamente.</p>
            </div>
            <hr>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="box">
            <div class="col-md-4 text-center">
            <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
                <h4>¿Como reinicio mi router?</h4>
                <div class="icon">
                <i class="bi bi-bar-chart-line-fill" style="font-size: 4rem"></i>
                </div>
                <p>Si presenta lentitud en su linea una posible solucion es la de reiniciar el router, lo puede realizar presionando el boton que se encuentra detras del equipo durante 15 segundos.</p>
            </div>
            </div>

            <div class="col-md-4">
            <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
                <h4>¿Cuales son los numeros de contacto?</h4>
                <div class="icon">
                <i class="bi bi-telephone-fill" style="font-size: 4rem"></i>
                </div>
                <p>Central Telefonica: (084) 276106<br> Ventas: 900 259 070 <br> Ventas Corporativas: 946 458 222/974880 085</p>
            </div>
            </div>
            <div class="col-md-4">
            <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
                <h4>¿Cuales son sus redes sociales?</h4>
                <div class="icon">
                <i class="bi bi-facebook" style="font-size: 4rem"></i>
                </div>
                <p>Facebook: @GrupoInpecable</p>
            </div>
            </div>
        </div>
    </div>
    
    <div class="row">
      <div class="box">
        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
            <h4>¿Cual es el horario de atencion?</h4>
            <div class="icon">
              <i class="bi bi-alarm" style="font-size: 4rem"></i>
            </div>
            <p>De 9:00am hasta las 18:00</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
            <h4>¿Como veo cual es mi velocidad de internet?</h4>
            <div class="icon">
              <i class="bi bi-speedometer" style="font-size: 4rem"></i>
            </div>
            <p>Puede utiizar una herramienta web como la siguiente: <a href="url">https://www.speedtest.net/es</a></p>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
            <h4>¿Como accedo a la configuracion de mi perfil?</h4>
            <div class="icon">
              <i class="bi bi-person-circle" style="font-size: 4rem"></i>
            </div>
            <p>Pase el cursor sobre su perfil, elija preferencias de la cuenta y alli encontrara todas las opciones disponibles.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <h1>¿Necesitas ayuda personalizada?</h1>
        </div>
        <hr>
      </div>
    </div>
  </div>


  <section id="contact-page">
    <div class="container">
      <div class="center">
        <h2>Crea tu ticket de consulta</h2>
        <p>Nuestros operadores se encargaran de respoderte lo mas antes posible.</p>
      </div>
      <div class="row contact-wrap">
        <div class="col-md-8 col-md-offset-2">
          <div id="sendmessage">Tu mensaje se ha enviado. Gracias!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese su Correo Electronico" data-rule="email" data-msg="Ingrese un correo electronico valido" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Escriba el asunto minimo 8 letras" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Ecribenos tu problema "></textarea>
              <div class="validation"></div>
            </div>

            <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Mensaje enviado</button></div>
          </form>
        </div>
      </div>
    </div>