
<!-- header -->
<app-usuario-header></app-usuario-header>




<!-- 1era seccion -- Vista de Usuario--> 
<!-- <app-usuario-inicio></app-usuario-inicio>
<app-usuario-ayuda-soporte></app-usuario-ayuda-soporte>
<app-usuario-contacto></app-usuario-contacto>
<app-usuario-planes></app-usuario-planes>
<app-usuario-nosotros></app-usuario-nosotros> -->

<!-- 2da seccion -->
<!-- <app-usuario-login></app-usuario-login> -->

<!-- 3ra seccion usuario logeado -->
<app-usuario-mantenimiento-empleado></app-usuario-mantenimiento-empleado>


<!-- 3ra seccion mantenimiento -->





<!-- footer -->
<app-usuario-footer></app-usuario-footer>


